.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Form input {
  height: 46px;
  padding: 0 12px;
  font-size: 20px;
  font-family: 'Open sans', sans-serif;
  color: var(--gs-primary);
}

.Form input::placeholder {
  color: var(--gs-tertiary);
  font-weight: 300;
}

.Form input,
.Form button {
  border: 1px solid var(--gs-secondary);
  border-radius: 8px;
  margin-top: 14px;
}

.Form button {
  width: 48px;
  height: 48px;
  background: var(--gs-quaternary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  margin-right: 12px;
  transition: all 0.3s ease-in-out;
}

.Form button:disabled {
  opacity: 0.2;
  cursor: default;
}

.Form button:hover:not(:disabled) {
  background: var(--gs-tertiary);
}

.Form .arrow-right {
  width: 24px;
  height: 24px;
}
