.App {
  height: 100%;
  overflow: hidden;
}

.App .Page {
  height: 100%;
  display: grid;
  grid-template-columns: 24px 1fr 24px;
}

.App .Page1 {
  grid-template-rows: 26vh 1fr;
}

.App .Page1 .content-wrapper {
  grid-area: 2 / 2 / 3 / 3;
}

.App .Page2 {
  grid-template-rows: 5vh 1fr 5vh;
}

.App .Page2 .content-wrapper {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
}

/* 
 * At 713px the content-wrapper reaches 665px
 * So we need to truncate it
 */

@media only screen and (min-width: 714px) {
  .App .Page {
    grid-template-columns: 1fr 665px 1fr;
  }
}